APScheduler==3.8.1
bidict==0.23.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
dnspython==2.7.0
eventlet
Flask==2.0.1
Flask-Cors==3.0.10
Flask-SocketIO==5.1.1
greenlet==3.1.1
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
psycopg2-binary
python-engineio
python-socketio
pytz==2024.2
simple-websocket==1.1.0
six==1.16.0
tzdata==2024.2
tzlocal==5.2
uvicorn==0.22.0
Werkzeug>=2.2.0  # Update to a compatible version
wsproto==1.2.0
gunicorn==20.1.0
SQLAlchemy
Flask
Flask-Cors
Flask-Limiter
Flask-Mail
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
frozenlist
gotrue
h11
h2
hpack
httpcore
httpx
hyperframe
idna
importlib_resources
itsdangerous
Jinja2
limits
Mako
markdown-it-py
MarkupSafe
marshmallow
marshmallow-sqlalchemy
mdurl
multidict
ordered-set
packaging
postgrest
propcache
psycopg2-binary
pydantic
pydantic_core
Pygments
python-dateutil
realtime
requests
rich
setuptools
six
sniffio
SQLAlchemy
storage3
stripe
supabase
supafunc
typing_extensions
urllib3
websockets
Werkzeug
wheel
wrapt
yarl
reportlab

