APScheduler==3.10.4
bidict==0.23.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
# Hapus atau perbarui dnspython
dnspython==2.3.0  # Coba versi yang lebih baru
eventlet==0.30.2
Flask==2.2.5
Flask-Cors==3.0.10
Flask-SocketIO==5.3.4
greenlet==3.1.1
h11==0.14.0
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
python-engineio==4.3.4
python-socketio==5.7.2
pytz==2024.2
simple-websocket==1.1.0
six==1.16.0
SQLAlchemy
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
uvicorn==0.22.0
Werkzeug
wsproto==1.2.0
gunicorn==20.1.0