<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ARS CHAT ROOM{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            {% block header %}
            <h1>CHAT-ROOM</h1>
            {% endblock %}
        </header>

        <main>
            {% block content %}
            <!-- Konten utama akan diisi oleh template yang meng-extend base ini -->
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2023 ARS CHAT ROOM. Hak Cipta Dilindungi.</p>
        </footer>
    </div>

    {% block extra_js %}
        <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    {% endblock %}
</body>
</html>
