<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CHAT ROOM{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            {% block header %}
            <div class="header-container">
                <h1>CHAT-ROOM</h1>
                <nav class="nav-menu">
                    <a href="/" class="nav-link">Global Chat</a>
                    <a href="/coba" class="nav-link">Private Chat</a>
                </nav>
            </div>
            {% endblock %}
        </header>

        <main>
            {% block content %}
            
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2023 ARS CHAT ROOM. Hak Cipta Dilindungi.</p>
        </footer>
    </div>

    {% block extra_js %}
        <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    {% endblock %}
</body>
</html>
